<IfModule mod_rewrite.c>
    RewriteEngine on
    
    # Send request to the subfolder, if it's not a real file, folder or it's a root request
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d [OR]
    RewriteCond $1 ^$
	
</IfModule>
